@font-face {
    font-family: raleway;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf)
}
.exx{
    color: green;
}

body,
html {
    font-family: raleway;
    height: 100%;
    margin: 0;
}
div.dropdown >a{
    color: white;
}

header {
    display: flex;
    position: fixed;
    height: 54px;
    right: 0;
    top: 0;
    left: 0;
    background-color: darkblue;
}
header>a>img{
    height: 32px;
    width: 130px;
    margin-left: 34px;
}
img.asd{
height: 32px;
width: 132px;
}
*{
    box-sizing: border-box;
}

header>div>a {

    margin-top: 10px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}



.exx {

}

header>a>img {
    margin-left: 30px;
    width: 30px;
    margin: 8px;
}

div.dropdown {
    position: relative;
    display: inline-block;
}

div.list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

div.list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.list a:hover {
    background-color: #ddd;
}

.dropdown:hover .list {
    display: block;
}

.dropdown:hover>a {
    background-color: #3e8e41;
}








.bg {
    margin-top: 54px;
    text-align: center;
    background-image: url("../images/malik.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.center {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.center a {
    border: 2px solid rgb(101, 233, 101);
    border-radius: 8px;
    text-decoration: none;
    background-color: rgb(101, 233, 101);
    color: white;
    padding: 8px 16px;
}

div.center h1 {
    font-size: 54px;
    margin: 0px;
}

div.center a:hover {
    background: none;
    color: rgb(101, 233, 101);
    border: 2px solid rgb(101, 233, 101);
}